<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593647274914-usf0dc2gg5g69sppvd9n0k7q9ghhvjc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593647274914-usf0dc2gg5g69sppvd9n0k7q9ghhvjc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDTC68ovwv6ye2940LsorzhX_9HXLOKs-U</string>
	<key>GCM_SENDER_ID</key>
	<string>593647274914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eri.Prueba-Paginacion</string>
	<key>PROJECT_ID</key>
	<string>prueba-paginacion</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-paginacion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593647274914:ios:82afc473798229a296c0fb</string>
</dict>
</plist>